<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Online Course</title>
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <span class="hamburgerBtn"><i class="fas fa-bars"></i></span>

        <ul class="myUl">
          <li><a href="../index.html">Home</a></li>
          <li><a href="products.html">Fragrances</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <span class="shoppingCartBtn"
          ><i class="fas fa-shopping-cart"></i>
          <span id="counterContainer"></span>
        </span>
      </nav>

      <h1 class="logotype">Node.js Online Course</h1>

      <h1>Welcome, <%= user.user.userName %></h1>
      <a href="/logout">Logout</a>
    </header>
  </body>
</html>
