<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Online Course</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <header></header>

    <section class="sec-vw-100">
      <h1 class="logotype">NODE.JS ONLINE COURSE</h1>
      <div class="logoContainer">
        <div class="logo"></div>
      </div>

      <%- include("./user/login.ejs") %>
    </section>
  </body>
</html>
