*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.logo {
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/node_logo123.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.navbar {
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 2.4rem;
  color: black;
  background-color: black;
  width: 100vw;
  height: 10vh; }
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    height: 100vh;
    width: 100vw;
    background-color: #000000; }
    .navbar ul a {
      text-decoration: none;
      text-shadow: 0 0 2px white;
      color: #FFFFFF; }
    .navbar ul li {
      z-index: 2000;
      text-align: center;
      list-style: none;
      margin: 1rem; }
      .navbar ul li:hover {
        transform: scale(1.1); }
  @media screen and (min-width: 768px) {
    .navbar {
      justify-content: space-around;
      height: 8rem;
      padding: 0; }
      .navbar ul {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 10% 0 10%; } }

.sidebar {
  width: 20%;
  height: 100%;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .sidebar a {
    text-decoration: none;
    color: #000000; }
    .sidebar a:visited {
      opacity: 0.2; }
  .sidebar .active {
    font-weight: bold; }
  .sidebar li {
    text-align: center;
    list-style: none;
    margin: 2rem; }

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
  background-color: lightgrey; }

.sec-vw-80 {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  top: 10vh; }

.sec-vw-100 {
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  width: 100vw;
  height: 100vh; }

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  margin: 5%;
  padding-right: 1rem; }

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50rem; }
  form input {
    width: 30rem;
    height: 5rem;
    border-radius: 1rem;
    margin: 1rem;
    text-indent: 1rem;
    font-size: large; }
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 5rem;
    margin: .5rem;
    color: #000000;
    background-color: #FFF8E2;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
    font-size: large;
    text-decoration: none;
    cursor: pointer; }

span {
  width: 80%;
  margin: 1rem; }

.profileMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  width: 100vw;
  height: 100vh; }
  .profileMain h1 {
    font-size: x-large;
    margin: 2rem; }
  .profileMain .profileIcon {
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    border-radius: 2rem;
    background-image: url("/public/assets/profile_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5); }
  .profileMain li {
    text-align: start;
    list-style: none;
    margin: 2rem;
    font-size: larger; }
  .profileMain a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 5rem;
    margin: .5rem;
    color: #000000;
    background-color: #FFF8E2;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
    font-size: large;
    text-decoration: none;
    cursor: pointer; }

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  form h2 {
    margin: 1rem; }
  form input {
    margin: .2rem; }
  form hr {
    margin: 1rem;
    width: 80vw; }
  form .radioSpan {
    border: 2px solid black;
    border-radius: 1rem;
    flex-direction: row;
    padding: 1rem;
    margin: 1rem; }

textarea {
  width: 50vw;
  height: 25vh; }

.adminPosts {
  width: 80vw;
  border: 1px solid #000000;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem; }
  .adminPosts h2 {
    margin: 1rem; }
  .adminPosts h3 {
    margin: .5rem; }
