<form action="/login" method="post">
  <input type="text" name="userName" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Login</button>

  <br />
  <a href="/reset">Forgot password?</a>
  <br />
  <span>Don't have account?  <a href="/register"> Register</a> </span>
</form>
