<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Online Course</title>
</head>
<body>
  <div class="logo">
    <p>Logo</p>
</div>

<h1>Welcome to Basic node.js Online Course!</h1>
<h3>Please Login Below:</h3>
  <form action="/reset" method="post">
    <input type="email" name="email" placeholder="Enter Email" />
  
    <button type="submit">Send link</button>
  </form>
</body>
</html>