.profileMain {
  @include flexCenter(column);
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;

  h1 {
      font-size: x-large;
      margin: 2rem;
  }

  .profileIcon {
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    border-radius: 2rem;
    background-image: url("/public/assets/profile_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, .5);
  }

  li {
    text-align: start;
    list-style: none;
    margin: 2rem;
    font-size: larger;
  }

  a {
    @include button();
  }
}
